@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gradient-shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 128, 0, 0.3), 0 2px 4px -1px rgba(0, 255, 0, 0.3);
  }
  @layer components {
    @media (min-width: 1024px) {
      .underline-animation {
        position: relative;
        display: inline-block;
      }
  
      .underline-animation::after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        bottom: -4px;
        left: 0;
        background-color: #74E291;
        transition: width 0.3s ease;
      }
  
      .underline-animation:hover::after,
      .underline-animation.active::after {
        width: 100%;
      }
  
      .active {
        color: #74E291;
      }
    }
  
    @media (max-width: 1024px) {
      .active {
        @apply bg-primary text-white;
      }
    }
  }
  @keyframes slideFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slideFromLeft 1s forwards;
    opacity: 0;
  }
  








  